# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js


# testing
/coverage

# production
/build

#Python
__pycache__/
*.py[cod]

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

backend/api/migrations/__pycache__/0001_initial.cpython-312.pyc
backend/api/models/__pycache__/course.cpython-312.pyc
backend/api/urls/__pycache__/courses.cpython-312.pyc
backend/api/views/__pycache__/courses.cpython-312.pyc
*.pyc


backend\api\__pycache__
backend\api\urls\__pycache__
backend\api\views\__pycache__
backend\backend\__pycache__
