.progress-bar-container {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 20px 0 30px 0;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.progress-bar-step {
  height: 8px;
  flex: 1;
  max-width: 200px;
  border-radius: 10px;
  background-color: #d1d1d1;
  transition: background-color 0.3s;
}

.progress-bar-step.active {
  background-color: #247ad6;
}
