.progress-bar-container {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 10px;
}

.progress-bar-step {
  height: 8px;
  width: 190px;
  border-radius: 10px;
  background-color: #bcbcbc;
  transition: background-color 0.3s;
}

.progress-bar-step.active {
  background-color: #247ad6;
}
